@model ElContadorPampero.Models.AsientoContable

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AsientoContable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detalle" class="control-label"></label>
                <input asp-for="Detalle" class="form-control" />
                <span asp-validation-for="Detalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroAsiento" class="control-label"></label>
                <input asp-for="NroAsiento" class="form-control" />
                <span asp-validation-for="NroAsiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContabilidadId" class="control-label"></label>
                <select asp-for="ContabilidadId" class="form-control" asp-items="ViewBag.ContabilidadId"></select>
                <span asp-validation-for="ContabilidadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

